* {
  padding: 0;
  margin: 0;
}

body {
  background-color: transparent;
}

@keyframes slideIn {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 100;
  padding: 15px;
  animation: slideIn 0.5s ease-in-out;
}
.profile-image {
  float: left;
  width: 300px;
  margin: 0 2rem 2rem 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}

h2.header-title {
  padding-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: center;
}
h3.technology-title {
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: center;
}
nav ul {
  list-style: none;
}

.header-title {
  padding-top: 50px;
}
nav ul li {
  display: inline-block;
  margin: 0 1rem;
}
.nav-bg {
  position: sticky;
  background: #ddf2fd;
  top: 0;
  left: 0;
  height: 50px;
}

.content {
  padding: 2rem;
}

nav a,
nav a:link,
nav a:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.5s ease-in-out;
}
@keyframes color-change {
  0% {
    color: #ddf2fd;
  }
  100% {
    color: #164863;
  }
}
nav.inverted a,
nav.inverted a:link,
nav.inverted a:visited {
  color: #164863;
  transition: color 1s ease-in-out;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  scroll-snap-type: y mandatory;
}

header {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: 0;
}

.title-text {
  position: absolute;
  transform: translateZ(5px);
}

header h1 {
  text-align: center;
  z-index: 100;
  font-size: 72px;
  background: -webkit-linear-gradient(45deg, #ddf2fd, #fff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h2 {
  margin-top: -0.5rem;
  background: -webkit-linear-gradient(45deg, #ddf2fd, #fff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h4 {
  font-size: 0.8rem;
  margin-top: 0rem;
  text-align: right;
  background: -webkit-linear-gradient(45deg, #ddf2fd, #fff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.language-container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.language-container img {
  width: 50px;
  object-fit: contain;
}

.bg-image-behind {
  transform: translateZ(-10px) scale(2);
}
.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.4));
  transform: translateZ(-9px) scale(2);
}

#particles {
  width: 100%;
  height: 100%;
  background-color: #164863;
  transform: translateZ(-10px) scale(2);
}

.bg-image-front {
  position: absolute;
  background-color: transparent;
  right: 0;
  bottom: -120px;
  width: 100%;
  min-height: 55%;
  filter: invert(0%) saturate(0) contrast(100%) brightness(0);
  color: #fff;
  object-fit: cover;
  transform: translateZ(-5px) scale(1.5);
}

main {
  scroll-snap-align: start;
  position: relative;
  background-color: #ddf2fd;
  z-index: 100;
}

.scroll-indicator {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 15px;
  left: 50%;
}
.scroll-indicator a {
  padding-top: 60px;
  color: #fff;
  text-decoration: none;
}
.scroll-indicator a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll-indicator a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Technology section */
div.spacer {
  height: 50px;
}
.technology-container {
  display: flex;
  flex-direction: row;
}
.technology-container.reverse {
  flex-direction: row-reverse;
}
.technology-text {
  flex: 1;
  padding: 0 1rem;
}
.technology-asset {
  flex-basis: 250px;
  width: 150px;
  background: black;
}
